{{!
    Course Index Section Template
    Clean implementation matching reference design
    
    Layout: [Status Badge] [Book Icon] [Title + Progress] [Chevron]
    
    @package theme_remui_kids
    @copyright 2025 Kodeit
}}
<div
    class="courseindex-section w-100 {{#current}}current{{/current}} {{#component}}delegated-section{{/component}}"
    id="{{uniqid}}-course-index-section-{{id}}"
    data-for="section"
    data-id="{{id}}"
    data-number="{{number}}"
    role="treeitem"
    aria-owns="courseindexcollapse{{number}}"
>
    <div class="courseindex-item d-flex align-items-center
            {{^visible}}dimmed{{/visible}}
            {{#hasrestrictions}}restrictions{{/hasrestrictions}}
            courseindex-section-title"
        id="courseindexsection{{number}}"
        data-for="section_item"
        data-section-number="{{number}}"
    >
        {{! Status Badge - Leftmost (always show section number) }}
        <div class="courseindex-section-status-badge" data-section-id="{{id}}" data-section-number="{{number}}">
            <div class="status-badge status-incomplete">{{number}}</div>
        </div>
        
        {{! Book Icon - Open book outline }}
        <div class="courseindex-section-book-icon">
            <i class="fa fa-book-open" aria-hidden="true"></i>
        </div>
        
        {{! Title and Progress Content }}
        <div class="courseindex-section-title-content">
            <a href="{{{sectionurl}}}"
                class="courseindex-link text-truncate"
                data-action="togglecourseindexsection"
                data-for="section_title"
                tabindex="-1"
                title="{{{title}}}"
            >
                {{{title}}}
            </a>
            {{! Progress info - populated by JavaScript: "X/Y activities • Z modules" }}
            <div class="courseindex-section-progress" data-section-id="{{id}}">
                <span class="progress-activities">0/0 activities</span>
                <span class="progress-modules">0 modules</span>
            </div>
        </div>
        
        {{! Chevron - Rightmost element }}
        <a data-toggle="collapse"
            href="#courseindexcollapse{{number}}"
            class="courseindex-chevron icons-collapse-expand {{#indexcollapsed}}collapsed{{/indexcollapsed}}"
            aria-expanded="{{^indexcollapsed}}true{{/indexcollapsed}}{{#indexcollapsed}}false{{/indexcollapsed}}"
            aria-controls="courseindexcollapse{{number}}"
            tabindex="-1"
        >
            <span class="collapsed-icon" title="{{#str}} expand, core {{/str}}">
                <span class="dir-rtl-hide"><span class="edw-icon edw-icon-Down-Arrow"></span></span>
                <span class="dir-ltr-hide"><span class="edw-icon edw-icon-Down-Arrow"></span></span>
                <span class="sr-only">{{#str}} expand, core {{/str}}</span>
            </span>
            <span class="expanded-icon" title="{{#str}} collapse, core {{/str}}">
                <span class="edw-icon edw-icon-UpArrow"></span>
                <span class="sr-only">{{#str}} collapse, core {{/str}}</span>
            </span>
        </a>
        
        {{! Hidden original wrapper }}
        <div class="edw-title-icon-wrapper" style="display: none;">
            <span class="current-badge badge badge-primary px-2 rounded-pill">{{highlighted}}</span>
            <span class="courseindex-locked" data-for="cm_name">
                {{#pix}} t/locked, core {{/pix}}
            </span>
            <span class="dragicon"><span class="edw-icon edw-edw-icon edw-icon-Move"></span></span>
        </div>
    </div>
    
    {{! Section Content (Activities) }}
    <div id="courseindexcollapse{{number}}"
        class="courseindex-item-content collapse {{^indexcollapsed}}show{{/indexcollapsed}}"
        aria-labelledby="courseindexsection{{number}}"
        role="group"
    >
        <ul class="courseindex-sectioncontent unlist" data-for="cmlist" data-id="{{id}}" role="group">
            {{#cms}}
            {{> core_courseformat/local/courseindex/cm }}
            {{/cms}}
        </ul>
    </div>
</div>
{{#js}}
require(['core_courseformat/local/courseindex/section'], function(component) {
    component.init('{{uniqid}}-course-index-section-{{id}}');
});
{{/js}}
